*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    font-size: 16px;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
    color: #222;
    position: relative;
}
/* ----------------------__NAV__------------------------ */
nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.151);
    padding: 0 10px;
}
.logo_nav{
    padding: 10px;
}
ul{
    display: flex;
    list-style: none;
}
li{
padding: 10px;
}
/* ---------------------_MAIN_----------------- */
main{
    padding: 60px;
}
.noteArea{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}
.margin{
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 100%;
    height: 14%;
    background-color: rgb(255, 193, 21);

}
.margin p {
    margin: 0 5px;
}
.btn_del{
 
    padding: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color .5s;
    font-size: 1.2em;
    transition: background .6s ;
}
.margin .btn_del:hover{
    background-color: rgba(255, 38, 0, 0.685);
}
.content{
    padding: 5px;
}
.note{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid green;
    background-color: #faf600;
    overflow: auto;
}
/* ---------------_POPUP_ADD_-------------- */
.heroImg{
    position: absolute;
    left: 0;
    top: 0;
width: 100vw;
height: 100vh;
background-color: rgba(19, 19, 19, 0.397);
transition: .5s;
display: none;
}
.popup_add{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    background-color: rgb(214, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    border-radius: 5px;
}
.tittle_add, .input_add{
    margin: 10px;
}
/* ----------------_MAIN_VARIABLES__---------------- */

.btn{
    padding: 3px 10px;
    border: 1px solid rgb(190, 190, 190);
    transition: border .4s;
}
.btn:hover{
    border: 1px solid black;
}
.input{
    width: 60%;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
.show_popup_add{
    display: flex;
}
